.galary-imgs{
    height: 11rem;
    width: 16rem;
}
.card-div{
    background-color: #222222;
    margin-top: 3rem;
    height: 26rem;
    width: 18rem;
    padding: 1rem;
    border-radius: 5px;
     
}
